.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}

.coverDiv {
  position : absolute;
  top : 0;
  left : 0;
  right : 0;
  bottom : 0;
  z-index : 1;
  background-color : rgba(0,0,0,0.5);
  display : none;


}

.bettingDiv {
  margin : auto;
  width : 500px;
  top : 200px;
  background-color : rgba(192, 192, 192, 1);
  padding: 20px;
  position : relative;
}

.winDiv {
  margin : auto;
  width : 200px;
  top : 200px;
  position : relative;
}

.winImg {
  width : 200px;
}

.playAgain {
  margin : auto;
  margin-top :50px;
}

.playAgain img {
  width: 100px;
}

.covered {
  content: url("../img/card-back.png");
}
